body {
    background-color: #72b1cf;
    font-family: 'Pirata One', cursive;;
}

.navTitle {
    font-weight: 900;
    font-size: xx-large;
}

.blogBox {
    margin-top: 8px;
    border-style: solid;
}

.blogTitle {
    text-decoration: none;
    color: #006db5;
}

.blogDesc {
    border-style: solid;
    margin-bottom: 5px;
    padding: 2px;
    background-color: #9cd7ff;
}

.blogDescMain {
    font-weight: 700;
}

.blogDescTwo {
    font-size: 25px;
    font-style: italic;
}

.blogCreate {
    font-weight: bold;
    font-style: italic;
    font-size: 12px;
    padding: 5px;
    color: #006db5;
}

.blogBoxCont {
    margin-top: 10px;
    border-style: solid;
    background-color: #9cd7ff;
}

.formCont {
    margin-top: 10px;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
}


.commentCont {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    max-width: 75%;
    background-color: #9cd7ff;
}

.commentOwner {
    font-size: 14px;
}

.btnComment {
    margin-top: 10px;
}

.commentText {
    font-weight: bold;
    padding-top: 10px;
    background-color: #9cd7ff;
}

.commentCont {
    border-style: dashed;
}

.headerRow {
    background-color: black;
    margin-bottom: 10px;
}

a:link {
    color: #006db5;
}
a:visited {
    color: slategray;
}

a:hover {
    color: slateblue;
}

.login{
    margin-left: 25px;
}

.signup{
    margin-left: 25px;
}

.form-group{
    margin-top: 10px;
}